@page "{EntryId}"
@model SimpleDbWebApp.Pages.UserModel
@{
    ViewData["Title"] = "Edit User";
}
<h1>Edit User</h1>
<form asp-page-handler="Save">
    <label>First Name</label>
    <input asp-for="Entry.FirstName" />
    <label>Last Name</label>
    <input asp-for="Entry.LastName" />
    <div>
        @if (Model.EntryId != 0)
        {
            <a href="?handler=Delete">Delete</a>
        }
        <button>Save</button>
        <a href="/">Back</a>
    </div>
</form>